.google_search {
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
    border: 0px;
    font-size: 16px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.3);
}

div {
    text-align: center;
}

.google_logo {
    margin-top: 200px;
}

.search_btn {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 0;
    margin-top: 40px;
}

.lucky_btn {
    adding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 0;
    margin-left: 20px;
}